<!DOCTYPE html>
<html>
    <head>
        <title>NHL highlight API</title>
        <style>
            body {
                background: #fafafa;
                font-family: helvetica, sans-serif;
            }
            a {
                color: #000;
            }
        </style>
    </head>

    <body>

        <h1>NHL highlights API</h1>

        <p>This is a simple json API serving NHL highlights from the last week's games.</p>

        <p><b>Endpoints</b></p>
        <ul>
            <li><a href="/games">/games</a></li>
        </ul>

    </body>

</html>
